#infoAll{
    color: #FFF;
    font-family: Helvetica;
    z-index: 2;

    /* Posicionamento */
    margin-top: 220px;
    position:relative;
}

#infoMore{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#infoName{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
}
#infoName > span{
    font-size: 30px;
    margin-left: 10px;
}
#infoYellow{
    width: 10px;
    height: 100%;
    background-color: #FFCE00;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}