#loginAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}
#logoPrincipal > i{
    zoom: 700%;
    color:#FFCE00;
}
#txtInput{
    vertical-align: middle;

    margin-top: 2rem;
    display: block;
    margin-bottom: 0.5rem;
    resize: none;
    border: none;
    outline: none;
    border-radius: 12px;

    width: 300px;
    height: 50px;
    font-size: 20px;
}
#txtInput:focus{
    margin: none;
}
#btnSearch{
    background-color: #FFCE00;
    border:none;
    border-radius: 12px;

    width: 304px;
    height: 50px;
    font-size: 20px;
}
#btnSearch > i{
    margin-left: 10px;
}
#inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#inputContainer > span{
    float: right;
    position: absolute;
    font-size: 15px;

    color: red;
    margin-top: 20px;
    margin-left: 150px;
}